body{
    padding: 0px;
    margin: 0px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    font-size: 18px;
    color: white;
    padding: 17px 43px;
    border: none;
    
}

.header{
    width: 1350px;
    background-color:#E554731A;
    height: 630px;
    
}

.banner{
    padding: 50px 50px 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
  
}

.banner-title{
    font-size: 65px;
    font-weight: 700;
    width: 520px; 
    margin-top: 20px; 
}
.banner-description{
    width: 520px;
    margin-top: 40px;
    margin-bottom: 40px;
    color:#27272799;
    font-size: 17px;
}
.header-picture{
    width: 420px;
    padding-right: 80px;
    margin-top: 50px;
   
   
}


/*Featured section style

.featured-m{
    display: block;
    text-align: center;
    width: 534px;
}

*/

.featured-section-title{
    margin-top: 100px;
    text-align: center;
    font-size: 45px;
}

.featured-section-description{

    color: #27272799;
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
    
    
}

.featured-container{
    display: flex;
    gap: 24px;
    padding: 10px 130px;
}
.featured-flower1{
    width: 454px;
    height: 410px;
    border-radius: 300px 300px 0px 0px;
    background:#A7216226;
}

.featured-flower2{
    width: 454px;
    height: 410px;
    border-radius: 300px 300px 0px 0px;
    background:#0597A026;
}
.featured-flower3{
    width: 454px;
    height: 410px;
    border-radius: 300px 300px 0px 0px;
    background:#477D1126;
}

.featured-flower-image1{
    margin: 50px;
    width: 250px;
    height: 320px;
    
}
.featured-flower-image2{
    margin: 50px;
    width: 250px;
    height: 320px;
}
.featured-flower-image3{
    margin: 50px;
    width: 250px;
    height: 320px;
}

.flower-name{
    color: #272727;
    font-size: 22px;
    text-align: center;
    text-decoration-line: underline;
}


/* Random section style */
.random-section{
    margin-top: 100px;
    margin-left: 131px;
    padding: 0px 130px;
    width: 834px;
    height: 220px;
    display: flex;
    gap: 40px;
    background: #E554730D;
    margin-bottom: 80px;
}

.random-section1{
    padding-top: 30px;
    padding-left: 40px;
    display: block;
    text-align: center;
    
}

/* Hotdeal section style */

.banner-hotdeal{
    background: #E554731A;
    width: 1150px;
    height: 400px;
    padding: 50px 50px 50px 150px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.banner-hotdeal-content{
    display: block;
    text-align: center;
    justify-content: space-between;
}
.banner-hotdeal-title{
    font-size: 35px;
    font-weight: 600;
    width: 520px; 
    margin-top: 20px; 
}
.banner-hotdeal-description{
    width: 520px;
    margin-top: 40px;
    margin-bottom: 40px;
    color:#27272799;
    font-size: 16px;
}
.hotdeal-picture{
    width: 310px;
    height: 370px;
    padding-right: 80px;
    margin-top: 50px;
    margin-left: 100px;
}
.text-primary{
    color: #E55473;
}

/*Instagram Section */
.instagram-m{
    display: block;
    text-align: center;
}
.instagram-title{
    color: black;
    font-size: 43px;
    font-weight: 700;
}
.instagram-description{
    font-size: 17px;
    color: #27272799;
}

.instagram-container{
    display: flex;
    gap: 10px;
    margin-left: 130px;
    margin-top: 40px;
    
}
.instagram-flower-image{
   
    width: 260px;
    height: 320px;
}
/* latest deal content*/

.latest-deal-content{
    background-image: url('..//asset/Rectangle 9.png');
    background-repeat: no-repeat;
    width: 1070px;
    height: 300px;
    margin-left: 130px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.latest-deal-content{
    padding-top: 100px;
    text-align: center;
}
.latest-deal-title{
    font-size: 43px;
    font-weight: 700;
    color: black;
}
.latest-deal-description{
    font-size: 17px;
    color: #27272799;
    margin-bottom: 30px;
}

.latest-deal-email{
    width: 400px;
    height: 53px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}

/* Footer section style */
.footer-container{
background: #111010;
width: 1150px;
height: 200px;
display: block;
text-align: center;
padding: 100px;

}

.text-secondary{
    color: white;
}
.footer-paragraph{
    font-size: 18px;
    color: white;
}
.text-footer{
    color:gray;
    font-size: 16px;
}